/*Apartado de fuentes*/
.inter-<uniquifier> {/*Fuente agregada Inter*/
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.lato-regular {/*Fuente agregada Lato*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*----------------------------------------------*/
body{
    height: 100vh;
    background-image: url('imagenes/fondo_inicio.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
#titulo1{
    display: inline-block;
    padding: 0px;
    font-family: Inter;
    font-size: 40px;
    text-align: center;
    background-color: #00984E;
    width: 100%;
    text-shadow: 2px -2px 4px;
}

/*Diseño de barra de navegación*/
.menu{
    float: left;
    margin: 1px;
    padding: 10px;
    text-align: center;
    background-color: #00984E;
    width: 23.35%;
    box-sizing: content-box;
    font-family: Inter;
    font-style: italic;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.anav{
    text-decoration: none;
    color: white;
    font-style: italic;
    text-align: center;
}

.anav li:hover{
    text-decoration: none;
    color: white;
    background-color: #43C253;
    font-style: italic;
}

/*Divs grandes/padres*/
.div-1{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #72DF7C;
    width: 100%;
}

/*Divs chicos/hijos*/
.div-2{
    font-family: Lato;
    font-size: 18px;
    background-color: #ADEDB3;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

/*Formatos externos para subtitulos, textos, etc.*/
.subtis{
    text-align: center;
    font-size: 24px;
    font-family: Lato;
}

.subtis2{
    text-align: center;
    font-size: 36px;
    font-family: Lato;
}

.links{
    text-decoration: none;
    color: #000000;
}

.links:hover{
    color: #FFFFFF;
}

form ul{
    list-style-type: none;
}

form ul li{
    font-family: Lato;
    font-size: 20px;
}

.botones{
    width: 100%;
    background-color: #FFA004;
    padding: 10px;
    font-family: Inter;
    font-size: 20px;
}

.result{
    background-color: #72DF7C;
    font-family: Lato;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

#cajaFormulario{
    margin: 30px;
    float: left;
    padding: 20px;
    border: 2px solid #7a8f48;
    border-radius: 10px;
    background-color: rgb(28, 180, 92);
}

#cajaDatos > div{
    padding: 5px;
    border-bottom: 1px solid #637538;
}

label{
    display: inline-block;
    font-family: Lato;
    font-size: 28px;
}

#grabar, #eliminar{
    background-color:  #ADEDB3;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-family: Lato;
    font-size: large;

}

#cajaDatos{
    display: flex;
    height: 100%;
    width: 450px;
    padding: 20px;
    border: 1px solid #69F576;
    border-radius: 5px;
    background-color: #B5FCBC;
}
#clave, #texto{
        width: 200px;
        height: 50px;
        background-color: rgb(104, 228, 22);
        box-shadow: -3px 2px #2d4718;
        border-radius: 5px;
}


.footer{
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: #00984E;
    color:white;
    width: 100%;
    font-family:Lato;
    font-size: 20px;
}

.footer ul{
    list-style-type: none;
}
