/*Apartado de fuentes*/
.inter-<uniquifier> {/*Fuente agregada Inter*/
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.lato-regular {/*Fuente agregada Lato*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*----------------------------------------------*/
body{
	height: 100vh;
	background-image: url('imagenes/fondo_inicio.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
#titulo1{
	display: inline-block;
	padding: 0px;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	background-color: #00984E;
	width: 100%;
	text-shadow: 2px -2px 4px;
}

/*Diseño de barra de navegación*/
.menu{
	float: left;
	margin: 1px;
	padding: 10px;
	text-align: center;
	background-color: #00984E;
	width: 23.35%;
	box-sizing: content-box;
	font-family: Inter;
	font-style: italic;
}

.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

.anav{
	text-decoration: none;
	color: white;
	font-style: italic;
	text-align: center;
}

.anav li:hover{
	text-decoration: none;
	color: white;
	background-color: #43C253;
	font-style: italic;
}

/*
.subnav{
	list-style-type: none;
}

.subnav a li{
	text-decoration: none;
	color: white;
	font-style: italic;
	text-align: center;
	padding: 10px 15px;
	display: block;
}
.subnav a li:hover{
	text-decoration: none;
	color: white;
	background-color: #43C253;
	font-style: italic;	
}
.subnav > li{
	float: left;
}

.subnav li ul{
	text-decoration-skip
	position: absolute;
	min-width: 140px;
}

.subnav li:hover > ul{
	display: block;
}*/
/*Divs grandes/padres*/
.div-1{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #72DF7C;
	width: 100%;
}

.div-11{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #72DF7C;
	font-family: Lato;
	font-size: 18px;
	width: 100%;
}
/*Divs chicos/hijos*/
.div-2{
	font-family: Lato;
	font-size: 18px;
	background-color: #ADEDB3;
	margin: 10px;
	padding: 10px;
	width: 32%;
}

.div-22{
	font-family: Lato;
	font-size: 18px;
	background-color: #ADEDB3;
	margin: 10px;
	padding: 10px;
	width: 50%;
}

.div-23{
	display: inline-flex;
	font-family: Lato;
	font-size: 18px;
	background-color: #ADEDB3;
	margin: 10px;
	padding: 10px;
	box-sizing: content-box;
}

/*Formato para imagenes*/
.img-1{	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	box-shadow: 5px 5px 10px;
}

.img-2{	
	
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	box-shadow: 5px 5px 10px;
}

/*Formatos externos para subtitulos, textos, etc.*/
.subtis{
	text-align: center;
	font-size: 24px;
	font-family: Lato;
}

.subtis2{
	text-align: center;
	font-size: 36px;
	font-family: Lato;
}

.footer{
	text-align: center;
	display: inline-block;
	text-decoration: none;
	background-color: #00984E;
	color:white;
	width: 100%;
	font-family:Lato;
	font-size: 20px;
}

.footer ul{
	list-style-type: none;
}
